<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UV Clothing Advisor{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
</head>
<body>
    <div class="container">
        {% block header %}{% endblock %}

        {% block nav %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}
    </div>

    <script>
        window.locationName = "{{ location_name|e }}";
    </script>
    <script src="{{ url_for('static', filename='js/location.js') }}"></script>
</body>
</html>